:root {
  --text: #0b1114;
  --header-background: #ffffff;
  --background: #f5f9fa;
  --primary: #45b0d3;
  --secondary: #76d1ef;
  --accent: #45cefc;
  --transition: all 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

[data-theme='dark'] {
  --text: #ebf1f4;
  --background: #05090a;
  --header-background: #0f1a1d;
  --primary: #2c96ba;
  --secondary: #106b89;
  --accent: #038cba;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  color: var(--text);
  background-color: var(--background);
  transition: var(--transition);
}

.horizontal-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

/* SkillBar styles */
.skill-bar {
  margin-bottom: 1rem;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skill-progress {
  background-color: #e0e0e0;
  border-radius: 10px;
  height: 10px;
  overflow: hidden;
}

.skill-progress-bar {
  background-color: var(--primary);
  height: 100%;
}

/* Add responsive styles as needed */
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
}

/* Add theme-specific styles for each component */
.App, .home-container, .about-page, .projects-page, .skills-page, .footer, .project-card {
  background-color: var(--background);
  color: var(--text);
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Theme switch styles */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sun, .moon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 7px;
  transition: .4s;
}

.sun {
  left: 7px;
  fill: #f39c12;
  opacity: 1;
}

.moon {
  right: 7px;
  fill: #f1c40f;
  opacity: 0;
}

input:checked + .slider .sun {
  opacity: 0;
}

input:checked + .slider .moon {
  opacity: 1;
}

.main-content {
  padding-top: 80px; /* Adjust this value based on your header height */
}